<% var d=new Date(); let year=d.getFullYear(); %>
    <footer role="contentinfo">
        <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
        <a href="/cause-error" style="color: #ffd8d3; font-weight: bold; text-decoration: underline;">Trigger 500
            Error</a>
    </footer>