<% /* Content Heading: Shows the title as the main heading, or redirects if not present */ %>
    <% if (title) { %>
        <h1>
            <%= title %>
        </h1>
        <% } else { res.redirect('/') } %>

            <% if (typeof notice !=='undefined' && notice) { %>
                <div class="flash-message">
                    <%= notice %>
                </div>
                <% } %>

                    <% /* Inventory Items Display: Shows the HTML grid of vehicles */ %>
                        <%- grid %>